[submodule "tree-sitter/tree-sitter"]
	path = native/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "tree-sitter/tree-sitter-python"]
	path = native/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "tree-sitter/tree-sitter-javascript"]
	path = native/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "tree-sitter/tree-sitter-cpp"]
	path = native/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "tree-sitter/tree-sitter-c-sharp"]
	path = native/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp.git
[submodule "tree-sitter/tree-sitter-java"]
	path = native/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "tree-sitter/tree-sitter-php"]
	path = native/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php.git
[submodule "tree-sitter/tree-sitter-go"]
	path = native/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "tree-sitter/tree-sitter-ruby"]
	path = native/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "tree-sitter/tree-sitter-typescript"]
	path = native/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "native/tree-sitter-ruby"]
	path = native/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "native/tree-sitter-typescript"]
	path = native/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
[submodule "native/tree-sitter-bsl"]
	path = native/tree-sitter-bsl
	url = https://github.com/zabbius/tree-sitter-bsl.git
